<h2>Registration Form</h2>
<form #regform="ngForm" (ngSubmit)="myfunc()">
<table>
  <tr>
  <td><label>First Name</label></td>
  <td><input type="text" name="Firstname" [(ngModel)]="detail.firstname" #Firstname=ngModel required minlength="3">
  <span *ngIf="Firstname.errors && Firstname.errors['required'] && Firstname.touched">FirstName should not be blank</span>
  <span *ngIf="Firstname.errors && Firstname.errors['minlength'] && Firstname.touched">FirstName should be atleast 3 characters</span></td>
  </tr>

  <tr>
  <td><label>Last Name</label></td>
  <td><input type="text" name="Lastname" [(ngModel)]="detail.lastname" #Lastname=ngModel required minlength="3">
  <span *ngIf="Lastname.errors && Lastname.errors['required'] && Lastname.touched">LastName should not be blank</span>
  <span *ngIf="Lastname.errors && Lastname.errors['minlength'] && Lastname.touched">LastName should be atleast 3 characters</span></td>
  </tr>

  <tr>
  <td><label>Password</label></td>
  <td><input type="password" name="password" [(ngModel)]="detail.password" #password=ngModel required minlength="5">
  <span *ngIf="password.errors && password.errors['required'] && password.touched">password should not be blank</span>
  <span *ngIf="password.errors && password.errors['minlength'] && password.touched">password should be atleast 5 characters</span></td>
  </tr>

  <tr>
  <td><label>Confirm Password</label></td>
  <td><input type="password" name="cp" [(ngModel)]="detail.cp" #cp=ngModel required pattern="{{detail.password}}">
  <span *ngIf="cp.errors && cp.errors['required'] && cp.touched">Confirm password should not be blank</span>
  <span *ngIf="cp.errors && cp.errors['pattern'] && cp.touched ">password not matched</span></td>
  </tr>

  <tr>
  <td><label>Gender</label></td>
  <td><input type="radio" name="Gender">Male
      <input type="radio" name="Gender" >Female</td>
  </tr>

  <tr>
  <td><label>Email</label></td>
  <td><input type="email" name="email" [(ngModel)]="detail.email" #email=ngModel required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$">
  <span *ngIf="email.errors && email.errors['required'] && email.touched ">Email should not be blank</span>
  <span *ngIf="email.errors && email.errors['pattern'] && email.touched ">Enter valid Email</span></td>
  </tr>

  <tr>
  <td><label>Address</label></td>
  <td><textarea type="text" name="Address" [(ngModel)]="detail.address" #Address=ngModel required></textarea>
  <span *ngIf="Address.errors && Address.errors['required'] && Address.touched">Address should not be blank</span></td>
  </tr>

  <tr>
  <td><label>City</label></td>
  <td><input type="text" name="city" [(ngModel)]="detail.city" #city=ngModel required>
  <span *ngIf="city.errors && city.errors['required'] && city.touched">City should not be blank</span></td>
  </tr>

  <tr>
  <td><label>State</label></td>
  <td><input type="text" name="state" [(ngModel)]="detail.state" #state=ngModel required>
  <span *ngIf="state.errors && state.errors['required'] && state.touched">State should not be blank</span></td>
  </tr>

  <tr>
  <td><label>Pincode</label></td>
  <td><input type="text" name="pincode" [(ngModel)]="detail.pincode" #pincode=ngModel required>
  <span *ngIf="pincode.errors && pincode.errors['required'] && pincode.touched">Pincode should not be blank</span></td>
  </tr>

  <tr></tr><tr></tr>

  <tr>
  <td colspan=2 id="submit"><input type="submit" [disabled]="regform.form.invalid"></td>
  </tr>
</table>
</form>
